<div class="banner">
  <div class="banner-content">
    <h1>Awesome Honey</h1>
    <p>Best Jack Daniel's Honey Cocktails</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Cocktail <%= cocktail.id %></div>
        <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="http://store.jackdaniels.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/j/a/jack-daniels-tennessee-honey_1.jpg">


      </div>
    </div>
      <%end %>
  </div>
</div>

